h1 {
  font-weight: 900;
  font-size: 7rem;
  text-transform: uppercase;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  color: #fff;
}
.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252627;
}
.spotlight {
  background-color: #eb5e55;
}
.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.svg-container svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  min-width: 700px;
}
path[style="00000165916812323603747700000005172204528299523731"],
path[style="00000155118913244152270350000004269844240891065749"] {
  fill: #eb5e55 !important;
}
.spotlight-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  width: 50%;
}
